.columns {
  .column {
    &__image {
      height: 350px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      @include media-breakpoint-up(md) {
        height: 250px;
      }

      @include media-breakpoint-up(lg) {
        height: 300px;
      }
    }

    &--single {
      .column__image {
        @include media-breakpoint-up(lg) {
          height: 400px;
        }
      }
    }
  }
}
