.text-section {
  form {
    text-align: left;
  }

  table:not(.gfield_list) {
    margin-top: 40px;
    text-align: left;

    @include table-layout;
  }

  &.center-align {
    table:not(.gfield_list) {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
